:root{
    --bg: #f4f4f4;
    --text: Black;
    --btn: Black;
    --btn-text: White;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    overflow-y: scroll;
    padding-top: 60px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
}