:root{
    --bg: #ebe9e1;
    --text: Black;
    --btn: Black;
    --btn-text: White;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1536px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}